- var info = {city:"Los Angeles", date:"05/15/2018", position:"Loler in Chief"};
- var recipient = {name:"Robert Gerard", position:"Head of everything", company:"Lolilol inc.", address:"123 Fake St", city:"Los Angeles", state:"CA", zip:"90000"};
- var content = {intro:"Dear Robert,", body:["Cupidatat fugiat duis nostrud aliquip magna ullamco quis amet labore. Tempor laboris enim quis esse sint qui excepteur laborum. Non exercitation nostrud laboris ad laboris elit eu aliquip. Qui culpa qui cillum ad. Enim et id proident ex ad tempor commodo consectetur enim ipsum sint nisi laborum voluptate. Dolore nulla commodo elit laboris. Ad deserunt amet aliquip labore ad dolor fugiat non sint aliqua exercitation sint.", "Enim magna voluptate incididunt dolor ea eu veniam aliquip id ex pariatur in ad. Proident non sunt consectetur fugiat esse enim eiusmod Lorem. Excepteur fugiat dolor elit minim sint fugiat qui irure ut qui sunt sit. Sint deserunt ullamco consequat aute ex eu magna.", "Nulla consequat consectetur incididunt consectetur id esse id culpa. Aliquip mollit exercitation ex officia ipsum adipisicing deserunt irure ullamco. Et aute et ex incididunt consectetur excepteur sit dolor. In labore fugiat excepteur adipisicing.", "Ad id do laborum enim labore ad. Dolore Lorem officia exercitation labore labore. Aliquip irure incididunt aute ullamco cupidatat consectetur consectetur magna qui nostrud fugiat. Veniam minim sunt pariatur Lorem excepteur. Qui pariatur ut consectetur sunt in eiusmod Lorem non est do eu sint quis. Non est nulla cillum cillum velit ut tempor excepteur elit."], closing:"Long live Robert"};

html
  head
    meta(charset="utf-8")
    title Yorick Demichelis
    link(rel="stylesheet", media="all", href="cover.css")
  body
    header
      h1 Yorick Demichelis
      h2 #{info.position}
    #grid-container
      section#letter
        article
          p#locationdate #{info.city}, #{info.date}

          p#recipienthuman #{recipient.name} #[br] #{recipient.position}

          p#recipentcompany #{recipient.company} #[br] #{recipient.address} #[br] #{recipient.city}, #{recipient.state} #{recipient.zip}

          p#intro= content.intro

          each item in content.body
            p= item
          
          p#closing= content.closing
          p#signature Yorick Demichelis
          
      aside
        section#info
          ul
            li
              span Phone
              a(href="tel:+13235295721") 323-529-5721
            li
              span Email
              a(href="mailto:yorick@ctrlaltdev.xyz") yorick@ctrlaltdev.xyz
            li
              span Github
              a(href="https://github.com/ctrlaltdev") github.com/ctrlaltdev
            li
              span LinkedIn
              a(href="https://linkedin.com/in/yorickdemichelis") linkedin.com/in/yorickdemichelis
            li
              span Website
              a(href="https://ctrlaltdev.xyz") ctrlaltdev.xyz