- var info = {city:"Los Angeles", date:"", position:""};
- var personalinfo = {phone: {txt: "323 529 5127", value: "tel:+13235295127"}, email: {txt: "yorick@ctrlaltdev.xyz", value: "mailto:yorick@ctrlaltdev.xyz"}, github: {txt: "github/ctrlaltdev", value: "https://github.com/ctrlaltdev"}, linkedin: {txt: "linkedin/yorickdemichelis", value: "https://linkedin.com/in/yorickdemichelis"}, website: {txt: "ctrlaltdev.xyz", value: "https://ctrlaltdev.xyz"}}
- var recipient = {company:"", address:"", city:"", state:"", zip:""};
- var content = {intro:"", body:["", "", "", ""], closing:""};

html
  head
    meta(charset="utf-8")
    title Yorick Demichelis
    link(rel="stylesheet", media="all", href="cover.css")
  body
    header
      h1 Yorick Demichelis
      h2 #{info.position}
    #grid-container
      section#letter
        article
          p#locationdate #{info.city}, #{info.date}

          if recipient.name
            p#recipienthuman #{recipient.name} #[br] #{recipient.position}

          p#recipentcompany #{recipient.company} #[br] #{recipient.address} #[br] #{recipient.city}, #{recipient.state} #{recipient.zip}

          p#intro= content.intro

          each item in content.body
            p !{item}
          
          p#closing= content.closing
          p#signature Yorick Demichelis
          
      aside
        section#info
          h2 Personal info
          ul
            li
              span Phone
              a(href=personalinfo.phone.value) #{personalinfo.phone.txt}
            li
              span Email
              a(href=personalinfo.email.value) #{personalinfo.email.txt}
            li
              span Github
              a(href=personalinfo.github.value) #{personalinfo.github.txt}
            li
              span LinkedIn
              a(href=personalinfo.linkedin.value) #{personalinfo.linkedin.txt}
            li
              span Website
              a(href=personalinfo.website.value) #{personalinfo.website.txt}